*{
    font-family: Arial, Helvetica, sans-serif;
    color: #7c0f6d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: #ffcce8;
	padding: 20px;
  }


  section {
    max-width: 100%;
    padding: 30px 0;

  }  

  .titulo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .titulo img{
    width: 50px;
   height: 50px;
   margin-right: 10px;
   border-radius: 170px;

}
.titulo h1{
    font-size: 25px;
    font-weight: bold;
  }


    
  nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #7c0f6d;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    word-spacing: 5px;
  }
  
  nav ul li a:hover {
    background-color: #ccefff;
    color: rgb(255, 3, 116);
  }
    /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ccefff;
    color: rgb(255, 3, 116);
  }



  .centrar_p{
    text-align: center;
  }
 
 .contenedor_i{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
 }
 
 .dent_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;

    padding: 20px;
    margin-right: 20px;
 }
 .dent_cont h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;

 }
 .dent_cont p{
    font-size: 16px;
    margin-bottom: 5px;
 }
 .dent_cont img{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-radius: 170px;
 }
 @media (max-width: 500px){
    .contenedor_i{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
     }
     .dent_cont img{
        width: 300px;
        height: 300px;
        margin-right: 10px;
        border-radius: 170px;
        margin-bottom: 50px;
     }
     .cake {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        background-color:#ffedf7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    
      }


 }


.cakes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color:#ffedf7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;

  }
  
  .cake h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cake p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .cake img{
   width: 185px;
   height: 150px;
   margin-right: 10px;
   border-radius: 170px;
}

.mi-boton {
    background-color: #ffc6fd; /* Cambia el color a tu gusto */
    color: #7c0f6d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mi-boton:hover {
    background-color: #c9acff; /* Cambia el color a tu gusto */
  }

  footer {
	background-color: #ffcce8;
	padding: 20px;
}

.footer-container {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-top: 20px;
	text-align: center;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin-right: 20px;
    
}

.info p {
	margin: 5px;
}